* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}
body {
  color: white;
  background-image: url(poetry.jpg);
}
#div1 {
  font-size: 20px;
  -webkit-writing-mode: vertical-rl;
  writing-mode: tb-rl;
  margin-right: 100px;
  margin-left: 1500px;
  margin-top: 100px;
}
#div2 {
  font-size: 20px;
  -webkit-writing-mode: vertical-rl;
  writing-mode: tb-rl;
  margin-left: 80px;
  margin-right: 1500px;
  margin-top: 500px;
}
li {
  width: 60px;
}
